/* -------logo------- */

.img-wrapper-hero {
    text-align: center;
    margin-bottom: 1em;
    cursor: pointer;
  }
  
  .logo-hero {
    vertical-align: middle;
    display: inline-block;
    max-height: 500px;
  }
  
  .small-logo {
    max-width: 30%;
    margin-top: 15px;
  }
  
  .big-logo {
    max-width: 100%;
  }

  @media screen and (max-width: 820px) {
    .small-logo {
      max-width: 40%;
      
    }
  
  }