/* global style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

/* -------button------ */
.btn {
  border-radius: 4px;
  background: #0467fb;
  white-space: nowrap;
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  background: #00459e
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-normal {
  text-decoration: none;
  color: black;
}

/* --------color elements--------  */
.rock {
  background-color: rgb(148, 81, 81) !important;
}

.ghost {
  background-color: rgb(247, 247, 247) !important;
}

.electric {
  background-color: rgb(255, 255, 161) !important;
}

.bug {
  background-color: #F6D6A7 !important;
}

.poison {
  background-color: #e0a7f6 !important;
}

.normal {
  background-color: #F4F4F4 !important;
}

.fairy {
  background-color: rgba(255, 192, 203, 0.863) !important;
}

.fire {
  background-color: #FBE3DF !important;
}

.grass {
  background-color: #E2F9E1 !important;
}

.water {
  background-color: #E0F1FD !important;
}



/* --------Header-------- */
.header-section {
  background-image: url(./Assets/img/bg.svg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-row {
  display: flex;
  flex-direction: column;


}

.text-center {
  text-align: center;
}


/* -----List Data section------ */
.pokemonlist-section {
  padding-top: 2em;
  overflow: auto;
}

/* --------section Detail Pokemon--------- */
.section-detail-pokemon {
  background-image: url(./Assets/img/bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/* ---------Detail Page--------- */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* -----responsive---- */
@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 820px) {
  .btn {
    width: 100%;
  }

  .header-row {
    align-items: center;
  }

  .flex {
    flex-direction: column;
  }

  .section-detail-pokemon {
    height: 100%;
  }


}